@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

html {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
    /*min-height: 800px;*/
    /*background: linear-gradient(blue, blueviolet, hotpink);*/
    background: repeating-linear-gradient(blue, blueviolet, hotpink);
}



.darkTheme {
    background: linear-gradient(darkblue, black);
}


.content {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headerLine {
    font-size: 38px;
    font-weight: bold;
    margin-top: 50px;
}

#changeThemeBtn {
    position: absolute;
    right: 20px;
    top: 30px;
    border: 3px solid white;
    border-radius: 50%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

#changeThemeBtn svg:first-of-type {
    display: none;
}

#changeThemeBtn svg{
    width: 25px;
    height: 25px;
    fill: white;
}

#changeThemeBtn svg path {
    fill: white;
}

.searchContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchForm {
    width: 100%;
    display: flex;
    justify-content: center;
}

.searchLine {
    width: 60%;
    height: 40px;
    border: 3px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    position: relative;
}

#searchInput {
    flex-grow: 1;
    border-radius: inherit;
    background-color: transparent;
    border: none;
    color: white;
    padding: 0 20px;
    outline: none;
    margin-left: 15%;
    font-size: 16px;
}

#searchInput::placeholder {
    color: #fff;
    opacity: .5;
}

[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 15px;
    width: 15px;
    background-image: url("../imgs/clearIcon.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
}

#searchBtn {
    height: calc(100% + 6px);
    width: 15%;
    position: absolute;
    border: 3px solid white;
    border-radius: 15px 0 0 15px;
    top: -3px;
    left: -3px;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBtn > svg {
    height: 100%;
    width: 20%;
    fill: white;
    transform: rotateY(180deg);
}

.rotateElem {
    transform: rotateY(360deg);
}

.settingsContainer {
    width: 100%;
    height: 550px;
    margin-top: 50px;
    border: 3px solid white;
    border-radius: 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px 10px 10px;
    box-sizing: border-box;
}

.currentWindow {
    width: 200px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    border-radius: 15px;
    position: absolute;
    top: -16px;
    left: calc(58% - 200px);
    background-color: #4D18EEFF;
}

.currentWindow > img {
    width: 18px;
    height: 18px;
    margin-left: 2px;
}

.currentWindow span {
    font-size: 16px;
    font-weight: bold;
}

.settingsContainer > div > b {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    width: 60%;
    color: #5b1ceb;
    background-color: white;
    border-radius: 15px;
    padding: 3px 0;
    cursor: pointer;
}

.settingsContainerBdark {
    color: #00015c !important   ;
}

.expandSettingsContainer {
    position: absolute;
    top: 0;
    right: 10px;
    width: 30px;
    height: 30px;
    border: 3px solid white;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.expandSettingsContainer:hover > img{
    transform: scale(1.2);
}

.expandedWindow {
    width: 100% !important;
    border: none !important;
}

.invisibleSettingWindow {
    display: none!important;
    width: 0px;
}

.expandSettingsContainer > img {
    width: 80%;
    height: 80%;
}

/*container in Settings */

.settingsAccountsContainer {
    width: 33.333%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    border-right: 3px solid white;
    position: relative;
    transition: .5s;
}

.settingsProxyContainer {
    width: 33.333%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    border-right: 3px solid white;
    position: relative;
    transition: .5s;
}

.settingsCommonContainer {
    width: 33.333%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    transition: .5s;
}

/*End Container in Settings*/


/*.settingsContainer::before {*/
/*    content: 'Параметры ⚙';*/
/*    text-align: center;*/
/*    position: absolute;*/
/*    margin: 0 auto;*/
/*    font-weight: bold;*/
/*    top: -16px;*/
/*    left: calc(58% - 200px);*/
/*    width: 200px;*/
/*    height: 23px;*/
/*    line-height: 23px;*/
/*    background-color: #4D18EEFF;*/
/*    border: 3px solid white;*/
/*    border-radius: 15px;*/
/*}*/

/*.settingsContainerDarkMode::before {*/
/*    background-color: #000165 !important;*/
/*}*/

.currentWindowDark {
    background-color: #000165 !important;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0 10px 0;
    font-size: 12px;
}


@media (max-width: 1200px) {
    .content {
        width: 100%;
    }
}

